@font-face {
    font-family: "Gotham-medium";
    font-weight: 400;
    font-display: fallback;
    src: url("/fonts/Gotham-Medium.ttf") format("truetype");
}

body, html {
    background-color: black;
    color: white;
    font-family: "Gotham-medium";
    font-style: normal;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#shopping-cart {
	margin: 40px;
}

.cart-title {
	color: white;
	letter-spacing: 10px;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
	overflow: auto;
	font-size: 14px;
}

#btn-empty {
	background-color: rgba(0, 0, 0, 0.528);
	border: 1.5px solid rgb(43, 41, 41);
	color: white;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
	cursor: pointer;
	font-size: 15px;
	padding: 5px 10px;
}

#btn-empty:hover {
	background-color: rgba(255, 255, 255, 0.7);	
}

#shopping-cart table {
	width: 100%;
	background-color: rgb(58, 56, 56);
	border-radius: 5px;
}

#shopping-cart table td {
	background-color: rgba(255, 255, 255, 0.5);
}

.text-right {
	text-align: center;
	padding: 7px;
	font-size: 14px;
}

.total {
	text-align: right;
}

#cart-table-body td {
	padding-left: 10px;
}

#itemAmount {
	text-align: right;
	padding-right: 45px;
}

#product-grid {
	margin: 40px;
}

#product-grid .cart-title {
	margin-bottom: 20px;
}

.add-to-cart {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(43, 41, 41);
    color: black;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-to-cart:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.product-item {
	height: 540px;
	width: 300px;
	float: left;
	background: rgba(255, 255, 255, 0.8);
	margin: 30px 30px 0px 0px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	padding: 10px;
    text-align: center;
	color: black;
}

.product-item .productname {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.85);
	margin-top: 10px;
}

.product-item .price {
	font-size: 18px;
	line-height: 35px;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: white 1px solid;
}

.clear-float {
	clear: both;
}


/* POPUP */
.popup-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
#btn-proceed {
	background-color: rgba(0, 0, 0, 0.528);
	border: 1.5px solid rgb(43, 41, 41);
	color: white;
	text-decoration: none;
	border-radius: 3px;
	margin: 30px 0px;
	cursor: pointer;
	font-size: 15px;
	padding: 5px 10px;
}

#btn-proceed:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
  
.popup {
	width: 400px;
	background: rgb(197, 195, 195);
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 36%;
	text-align: center;
	padding: 0 20px 30px;
	color: black;
	visibility: hidden;
}
  
.open-popup {
	visibility: visible;
	top: 32%;
}
  
.popup h2 {
	font-size: 25px;
	margin: 30px 0 40px;
}
  
.popup a {
	width: 100%;
	margin-top: 50px;
	padding: 10px 10px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	border: 0;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px grey;
}
  
.popup a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(0, 0, 0, 0.8);
}
  
.close-btn {
	padding: 0px 30px;
	padding-top: 30px;
	background: rgba(0, 0, 0, 0);
	border: 0;
	cursor: pointer;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.9);
}
  
.close-btn:hover {
	color: rgba(255, 255, 255, 0.5);
}